/* Course: SENG 513 */
/* Date: Oct 23, 2023 */
/* Assignment 2 */
/* Name: John Lugue*/
/* UCID: 30115250 */

/* normalize.css (simplified) taken from slides*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: #290039;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.boardheader, .midboard, .footboard, .deck {
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row; 
    color: white;
}

/* cards are 200px width */

/* board header */

.boardheader {
  background-color: #440060;
  height: 5vh;
  width: 1fr;
  justify-content: center;
}

.boardheader > h1 {
    padding: 10px;
    align-self: center;
}

.boardheader > button {
    background-color: #555555;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    float: right;
}

/* middle board */

.midboard {
    background-color: #8c92ac;
    height: 60vh;
    width: 1fr;
    justify-content: space-around;
}

.midboard > .playerone {
    text-align: center;
    padding-top: 10px;
}

.midboard > .playerone > img {
    padding: 15px;
}

.midboard > .playertwo {
    text-align: center;
    padding-top: 10px;
}

.midboard > .playertwo > img {
    padding: 15px;
}

.midboard > .map > {
    display: grid;
    grid-template-rows: repeat(5, 1fr); 
    grid-template-columns: repeat(10, 1fr);
}

.midboard > .map > .blueCity {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midboard > .map > .redCity {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midboard > .map > .yellowCity {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    color: white;
    background-color:darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midboard > .map > .blackCity {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    color: white;
    background-color:#3b444b;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* board footer */

.footboard {
    background-color: #12674a;
    height: 30vh;
    width: 1fr;
    justify-content: space-around;
    align-items: center;
}

.footboard > .deck > .discard > .playerdisc {
    padding: 20px;
}

.footboard > .deck > .discard > .infectiondisc {
    padding: 20px;
}

.footboard > .deck > .discard > .playerdisc > #playdisc {
    background-color: #555555;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}

.footboard > .deck > .discard > .infectiondisc > #infectdisc {
    background-color: #555555;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}

.footboard > .cure {
    display: grid;
    grid-template-areas:
    'blackcure'
    'redcure'
    'bluecure'
    'yellowcure';
}

.footboard > * {
    padding: 10px;
}

.footboard > .blackcure {
    grid-area: blackcure;
}

.footboard > .redcure {
    grid-area: redcure;
}

.footboard > .bluecure {
    grid-area: bluecure;
}

.footboard > .yellowcure {
    grid-area: yellowcure;
}

.footboard > .cure {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    justify-content: space-between;
    grid-template-areas:
    'blackcure redcure'
    'bluecure yellowcure';
}


.footboard > .deck {
    justify-content: space-between;
    align-items: center;
}

.footboard > .outbreak > p {
    position: absolute;
    font-size: 100px;
    top:805px;
    left:240px;
    user-select: none;
}





