/* Course: SENG 513 */
/* Date: Oct 23, 2023 */
/* Assignment 2 */
/* Name: John Lugue*/
/* UCID: 30115250 */

/* normalize.css (simplified) taken from slides*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.boardheader, .midboard, .footboard, .deck {
    display: flex;
    flex-direction: row;
}

/* cards are 200px width */

/* board header */

.boardheader {
  background-color: #440060;
}

/* middle board */

.midboard {
    background-color: #8c92ac;
}

/* board footer */

.footboard {
    background-color: #12674a;
}

.deck {
    display: flex;
    flex-direction: row;
}

